{{define "cart"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    {{template "header" .}}

    <table>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
    {{range $i, $c := .Cart}}
        <tr>
            <td>{{$i}}</td>
            <td>{{$c.Name}}</td>
            <td>{{$c.Price}}</td>
            <td>{{$c.Count}}</td>
        </tr>
    {{end}}
    </table>

    {{template "footer" .Users}}

    <script src="/assets/js/main.js"></script>
    <script>{{.JS}}</script>
</body>
</html>
{{end}}
